# Créer et manipuler une base de données SQL avec python sqlite3

SQLite est une bibliothèque écrite en C . SQLite est parfait pour les petits projets. Sa particularité est d'être intégré directement à un programme et ne répond donc pas à la logique client-serveur. Il est le moteur de base de données le plus distribué au monde puiqu'il est intégré à de nombreux logiciels grand public comme FireFox, Skype, Adobe, etc. Le logiciel pèse moins de 300 ko et peut donc être intégré à des projets tournant sur de petites supports comme les smartphones. Souvent aucune installation n'est nécessaire pour l'utiliser.

In [7]:
# importer le module SQLite:

import sqlite3

# Créer une base de données avec SQLite

In [8]:
# Créer une base de données avec SQLite
# & Connexion à cette base de données

conn = sqlite3.connect('ma_base.db')

In [9]:
# Create a cursor object

""" Avant de réaliser toutes actions sur cette base de données il sera nécessaire de créer un "curseur" grâce à la fonction cursor() """

cursor = conn.cursor()

# Créer une table avec SQLite

In [10]:
# Create a table

""" Si la table existe déjà ca bug, pour éviter cela, on peut utiliser la requête "if not exists" """

cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
     name TEXT,
     age INTERGER
     )
""")



# autre code possible pour créer une table, sans utiliser la requête "if not exists"
""" 

cursor.execute('''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
     )
''')

"""


# commit à effectuer après chaque modif dans la BDD, pour les enregistrer
conn.commit()

# Supprimer une table avec SQLite

In [11]:
# supprimer une table

cursor.execute("""
DROP TABLE users
""")

conn.commit()

In [12]:
# on recréer la table juste supprimmée précédemment

cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
     name TEXT,
     age INTERGER
)
""")

conn.commit()

# Insérer des données

In [16]:

# 1ere technique pour insérer de nouvelles données dans une table

cursor.execute("INSERT INTO users(name, age) VALUES('Robert', 18)")



# 2eme technique pour insérer de nouvelles données dans une table, en utilisant un dictionnaire 'data' par exemple

"""

data = {"name" : "olivier", "age" : 30}
cursor.execute("INSERT INTO users(name, age) VALUES(:name, :age)", data)

"""



# 3eme technique pour insérer de nouvelles données dans une table

""" 

cursor.execute("INSERT INTO users(name, age) VALUES(?, ?)", ("olivier", 30))

"""



# 4eme technique pour faire plusieurs insert en une seule fois avec la fonction executemany :

"""

users = []
users.append(("olivier", 40))
users.append(("jean-louis", 90))
cursor.executemany("INSERT INTO users(name, age) VALUES(?, ?)", users)

"""




# 5eme technique : autre méthode consiste à rentrer au préalable les valeurs dans une tuple, cela permet de compléter en même temps plusieurs lignes de la table :

"""

d =[("Simon", 32),("Patrick", 36)]
	
for i in d:
	cursor.execute("INSERT INTO users(name, age) VALUES(?,?)", i)


"""



# 6eme technique : Cela permet aussi d'automatiser les entrées dans la table :

"""

name = "Sylvain"
age = 26

d =[(name, age)]
	
for i in d:
	cursor.execute("INSERT INTO users(name, age) VALUES(?,?)", i)


"""




# 7eme technique pour insérer de nouvelles données dans une table

"""
cursor.execute("INSERT INTO users VALUES ("pascal", 30)")
cursor.execute("INSERT INTO users VALUES ("daniel", 32)")

"""


conn.commit()

In [23]:
# 8eme technique pour faire plusieurs insert en une seule fois avec la fonction executemany :

users = []
users.append(("olivier", 40))
users.append(("jean-louis", 90))
cursor.executemany("INSERT INTO users(name, age) VALUES(?, ?)", users)

conn.commit()

# Extraire / Récupérer des données

In [24]:
"""
cur.fetchone() renvoie seulement la première tuple.
Utilisez le si vous ne voulez que la première tuple, ou plus généralement si vous vous attendez à ce que votre requête ne retourne qu’une seule tuple.
"""

"""
On peut récupérer la première ligne correspondant à notre recherche à l'aide de la fonction fetchone
"""

cursor.execute("""SELECT name, age FROM users""")
row1 = cursor.fetchone()
print(row1)

""" Le résultat est un tuple """

('Robert', 18)

' Le résultat est un tuple '

In [25]:
# Extraire seulement les données de la colonne name :

cursor.execute("SELECT name FROM users")
rowname = cursor.fetchall()
rowname

[('Robert',), ('olivier',), ('jean-louis',)]

In [26]:
# Extraire seulement les données des colonnes name et age :

cursor.execute("SELECT name, age FROM users")
rowname = cursor.fetchall()
rowname

[('Robert', 18), ('olivier', 40), ('jean-louis', 90)]

In [27]:
# Extraire l'age du user ayant comme name "Robert" :

x = 'Robert'
cursor.execute("SELECT age FROM users WHERE name = ?",(x,))
rowname = cursor.fetchone()
rowname

(18,)

In [30]:
# Extraire tous les name dont l'age contient le nombre 18 :

x = 18
cursor.execute("SELECT name FROM users WHERE age LIKE ?",(x,))
rowname = cursor.fetchall()
rowname

[('Robert',)]

In [40]:
# Pour récupérer plusieurs données de la même recherche en utilisant la fonction fetchall()

""" cursor.fetchall() renvoie une liste de tuple contenant l’intégralité de ce que la requête a retourné """


# 1ere technique :

cursor.execute("SELECT * FROM users") 
rows = cursor.fetchall()
rows

[(1, 'Robert', 18), (2, 'olivier', 40), (3, 'jean-louis', 90)]

In [41]:
# 2eme technique :

cursor.execute("SELECT id, name, age FROM users")
rows = cursor.fetchall()
for row in rows:
    print('{0} : {1} - {2}'.format(row[0], row[1], row[2]))

1 : Robert - 18
2 : olivier - 40
3 : jean-louis - 90

In [42]:
# L'objet curseur fonctionne comme un itérateur, invoquant la méthode fetchall() automatiquement :

cursor.execute("SELECT id, name, age FROM users")
for row in cursor:
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

1 : Robert, 18
2 : olivier, 40
3 : jean-louis, 90

In [50]:
# Pour la recherche spécifique, on utilise la même logique vu précédemment :

id = 2
cursor.execute("SELECT id, name FROM users WHERE id=?", (id,))
response = cursor.fetchone()

# Modifier des entrées

In [51]:
# Pour modifier des entrées

cursor.execute("""UPDATE users SET name = ? WHERE age = 30""", ("lionel",))

In [52]:
# Pour remplacer des données

cursor.execute("UPDATE users SET name ='Patrick' WHERE name ='Robert'")

In [53]:
# Pour supprimer des données:

cursor.execute("DELETE FROM users WHERE name ='Patrick'")

In [54]:
# Ne pas oublier d'enregistrer les modifications

conn.commit()

# SQLite transactions : rollback

In [55]:
# Pour revenir au dernier commit, on utilise la méthode rollback

conn.rollback()

# Faire une jointure entre 2 tables

In [ ]:
"""

SELECT * FROM table1, table2 WHERE table1.cola = table2.colb

"""

# Ajouter une colonne à une table

In [ ]:
"""

ALTER TABLE NomTable ADD COLUMN NomNouvelleColonne ColonneType

"""

# Obtenir des informations sur une table ou une base

In [70]:
# Obtenir une liste des colonnes d'une table

cursor.execute("SELECT * FROM users")
r = list(cursor.description) 
col = [i[0] for i in r]

In [59]:
# Obtenir une liste des tables d'une base

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cel = list(cursor)

# Gestion des erreurs

In [60]:
# Il est recommandé de toujours encadrer les opérations sur des bases de données et d'anticiper des erreurs :

import sqlite3

try:
    conn = sqlite3.connect('data/users.db')
    cursor = conn.cursor()
    cursor.execute("""
CREATE TABLE users(
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT,
    age INTERGER
)
""")
    conn.commit()
except sqlite3.OperationalError:
    print('Erreur la table existe déjà')
except Exception as e:
    print("Erreur")
    conn.rollback()
    # raise e
finally:
    conn.close()

Erreur la table existe déjà

In [61]:
"""

Les erreurs que l'on peut intercepter :

Error
DatabaseError
DataError
IntegrityError
InternalError
NotSupportedError
OperationalError
ProgrammingError
InterfaceError
Warning

"""

"\n\nLes erreurs que l'on peut intercepter :\n\nError\nDatabaseError\nDataError\nIntegrityError\nInternalError\nNotSupportedError\nOperationalError\nProgrammingError\nInterfaceError\nWarning\n\n"

# Fermer la connexion vers la base base de données

In [63]:
# Lorsque le travail est terminé, fermer la connexion vers la base base de données

conn.close()

# Si besoin de réaccéder à la BDD, s'y reconnecter

In [64]:
""" si besoin de réaccéder à la BDD """

# Reconnexion à cette base de données & au cursor

conn = sqlite3.connect('ma_base.db')

cursor = conn.cursor()

In [67]:
# requete SQL

cursor.execute("SELECT * FROM users")
rowname = cursor.fetchall()
rowname

[(2, 'olivier', 40), (3, 'jean-louis', 90)]

In [71]:
# autre technique pour récupérer et imprimer des données

rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'olivier', 40)
(3, 'jean-louis', 90)

In [74]:
# Fermer une base de données

conn.close()

# CONCLUSION

Ce use case montre comment :

1.	créer une base de données SQLite,
2.	insérer des données,
3.  supprimer des données,
4.	effectuer une requête et extraire des données.

Le code utilise le module python sqlite3 pour se connecter à la base de données, exécuter des instructions SQL et gérer les transactions.

SQLite est un moteur de base de données relationnelle léger, autonome et open source qui permet de stocker et d'extraire des données de manière simple et efficace. Il est souvent utilisé dans les appareils mobiles, les systèmes embarqués et les environnements en demande.

SQLite ne nécessite pas de configuration ni de serveur dédié, ce qui en fait un choix populaire pour les applications qui n'ont pas besoin de fonctionnalités complexes de gestion de base de données. Il peut être intégré directement dans une application sans nécessiter l'installation d'un logiciel distinct.

SQLite supporte le standard SQL, ce qui signifie que les développeurs peuvent utiliser des instructions SQL courantes pour interagir avec les données de la base de données. En outre, SQLite est conforme à la norme ACID (Atomicité, Consistance, Isolation, Durabilité), garantissant ainsi l'intégrité et la fiabilité des données.